:root {
  --dark-blue: #202733;
  --dark-grayish-blue: #313a48;
  --grayish-blue: #4f5d74;
  --light-cyan: #cee3e9;
  --neon-green: #53ffaa;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark-blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#box {
  display: flex;
  flex-direction: column;
  width: 33.75rem;
  height: 20.75rem;
  border: none;
  border-radius: 15px;
  background: var(--dark-grayish-blue);
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

h1 {
  color: var(--neon-green);
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  line-height: auto;
  letter-spacing: 4.09px;
}

#quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 3rem 0 3rem;
}

q {
  color: var(--light-cyan);
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  line-height: auto;
  text-align: center;
  letter-spacing: -0.3px;
}
