:root {
  --dark-blue: #202733;
  --dark-grayish-blue: #313a48;
  --grayish-blue: #4f5d74;
  --light-cyan: #cee3e9;
  --neon-green: #53ffaa;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark-blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#box {
  width: 33.75rem;
  height: 20.75rem;
  border: none;
  border-radius: 15px;
  background: var(--dark-grayish-blue);
}
